
.content{
    display: flex;
    background-color: gray;
    flex-direction: column;
    flex-grow: 1;
    gap: 10vh;
}


.carousel{
   display: flex;
   transition: all 0.5 ease-in-out; 
}
.banner{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 90vh;
    filter: grayscale(.7);
}
#ori_button{
    z-index: 99;
    position: relative;
    bottom: 150px;
}
#ori{
    background-image: url(imagens/ori.jpg);
    background-size: cover;
    background-clip: content-box;
}
.text_banner{
    text-align: center;
}

.banner:hover{
    filter: grayscale(0);
}
.banner a button{
    position: relative;
    top: 10em;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: black;
    border: none;
    border-radius: 20px;
    width: 150px;
    color: white;
}
.banner a button:hover{
    scale: 1.05;
    background-color: white;
    color: black;
}
.text_area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.next_prev button{
    
    background: transparent;
    border: none;
    font-size: 100px;
    color: white;
    text-decoration: none;
}
#next{
    position:absolute;
    top: 40vh;
    right: 0;
}
#prev{
    top: 40vh;
    position:absolute;
    left: 0px;
}
.next_prev button:hover{
    color: yellow ;
}
.sobre{
    gap: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 1000px;
}
.sobre h1{
    text-align: center;
    font-size: 100px;
}
.sobre p {
    margin-inline: 100px;
    text-align: justify;
    font-family: "Atkinson Hyperlegible Mono", serif;
}
.sobre button{
    border-radius: 120px;
    border: none;
    width: 150px;
    font-family: "Atkinson Hyperlegible Mono", serif;
}
.sobre button:hover{
    background-color: black;
    color: yellow;
    scale: 1.1;
}
.jogos{
    gap: 50px;
    flex-direction: column;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}
.jogos h1{
    text-align: center;
    font-size: 100px;
}
.cards_contain{
    display: flex;
    flex-wrap: wrap;
    gap: 10em;
    justify-content: center;
}
.cards_contain div{
    height: 500px;
    width: 400px;
    background-color: aqua;
    border-radius: 40px;
}
#card1{
    background-image: url(imagens/braw.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#card2{
    background-image: url(imagens/ori_card.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#card3{
    background-image: url(imagens/fear.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contatos{
    gap: 50px;
    flex-direction: column;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 1000px;
}
.contatos h1{
    text-align: center;
    font-size: 100px;
}
.contatos p {
    margin-inline: 100px;
    text-align: justify;
    font-family: "Atkinson Hyperlegible Mono", serif;
}
.contatos button{
    border-radius: 120px;
    border: none;
    width: 150px;
    font-family: "Atkinson Hyperlegible Mono", serif;
}
.contatos button:hover{
    background-color: black;
    color: yellow;
    scale: 1.1;
}
.info_banner {
    min-width: 100%;
    min-height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info_banner h1{
    margin-top: 30vh;
    font-size: 100px;
    color: rgb(0, 0, 0);
    
}
.info_banner h2{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
